<div class="wishlist-container mt-8 mx-8">
    <div class="wishlist-header flex align-items-center justify-content-between">
        <h5 style="font-family: 'Inter',sans-serif;  font-weight: bold; font-size: 20px;">Wishlist ({{ myWishlist.length }})</h5>
        <button class="btn btn-outline-dark py-2 px-4" style="font-family: 'Poppins';" (click)="clear()"
            *ngIf="myWishlist.length>0">Clear wishlist</button>
    </div>
    <div class="wishlist-item-container" *ngIf="myWishlist.length>0">
        <ng-container *ngFor="let item of myWishlist">
            <app-wishlist-item [wishlistItem]="item"></app-wishlist-item>
        </ng-container>
    </div>
</div>


<div class="empty-wishlist" *ngIf="!myWishlist.length">
    <div class="empty-cart-image">
        <h1 class="bi bi-heart-fill"></h1>
    </div>
    <h3>YOUR WISHLIST IS CURRENTLY EMPTY!</h3>
    <p>Start exploring and save your favorite items now!</p>
    <button class="btn " [routerLink]="['/']">Return to Shop</button>
</div>