<div class="container flex flex-row " style="width: 100%; height: 90%; margin-top: 3%;">
    <div class="section-1 flex flex-column" style="width: 10%; ">
        <div class="img-container row-auto">
            <img  [src]="product.imageUrl">
        </div>
        <div class="img-container row-auto">
            <img  [src]="product.imageUrl">
        </div>
        <div class="img-container row-auto">
            <img  [src]="product.imageUrl">
        </div>
        <div class="img-container row-auto">
            <img  [src]="product.imageUrl">
        </div>
    </div>
    <div class="section-2" style="width: 50%;">
        <div class="img-container-big">
            <img  [src]="product.imageUrl">
        </div>
    </div>
    <div class="section-3 " style="width: 40%;height: 100%;overflow-x:hidden;">
        <h6>{{product.name}}</h6>
        <div class="flex flex-row" style="width: 100%; align-items: center;" >
            <app-rating class="col-auto" [reviews]="product.reviews"></app-rating>
            <p class="col-auto mx-3" >|</p>
            <p class="col-auto ml-1"#productStatus>{{getStatus(product.isActive)}}</p>
        </div>
        <div class="flex flex-row">
            <p id="price">{{formatToINR(product.unitPrice)}}</p>
        </div>
        <div>
            <p id="desc">{{product.description}}</p>
        </div>
        <div class="buttons flex flex-row align-content-center justify-content-between">
            <button class="btn flex flex-row align-items-center col-auto" style="background-color:coral">
                <p class="bi bi-bag-fill"></p>
                <p id="btnText" (click)="addToCart()">Add To Cart</p>
            </button>
            <button class="btn flex flex-row col-auto" style="background-color: #DB4444">
                <p class="bi bi-heart-fill"></p>
                <p id="btnText" (click)="addToWishlist(product.id)">Add To Wishlist</p>
            </button>
        </div>
        <app-review [reviews]="product.reviews"></app-review>
    </div>
</div>